body {
    background-color: #4D493E;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Playfair Display';
    color: #fff;
    line-height: normal;
}
.container {
    width: 1116px;
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
#firstonpage {
    text-align: center;
    margin: 30px 0px;
}
h3 {
    font-size: 20px;
}
.content-block.first {
    padding-top: 20px;
    column-gap: 60px;
    flex-wrap: wrap-reverse;
    padding-bottom: 50px;
}
.content-block {
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 100%;
    padding: 50px 0px;
    border-bottom: 1px solid #C1B59F;
}
.content-block.second {
    flex-direction: column;
    justify-content: center;
}
h1 {
    font-size: 60px;
}
h1.main {
    margin:20px 0px;
}
h2 {
    font-size: 30px;
}
h3.card {
    padding: 15px 30px;
    border: 1px solid #C1B59F;
    border-radius: 20px;
}
.card2 h3 {
    line-height: normal;
}
.main-card {
    width: 100%;
    border: 1px solid #C1B59F;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding: 30px 20px;
}
.card2 {
    height: 214px;
    border: red 1px solid;
    padding: 30px 20px;
    display: flex;
    width: 300px;
    border: #C1B59F 1px solid;
    border-radius: 20px;
    flex-direction: column;
    justify-content: space-between;
}
.card2 img {
    width: 52px;
    height: 52px;
}
.card-list {
    width: 100%;
    margin-top: 40px;
    display: flex;
    column-gap: 50px;
    row-gap: 30px;
    flex-wrap: wrap;
}
.content-block:last-child {
    align-items: center;
    justify-content: center;
}
.pay-form {
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding: 50px;
    row-gap: 30px;
    column-gap: 60px;
    flex-wrap: wrap;
    border: 1px solid #C1B59F;
    border-radius: 20px;
    line-height: normal;
}
.pay-form h2 {
    padding-bottom: 19px;
}
#first {
    border-bottom: 1px solid #fff;
    display: inline-block;
    padding: 0px 40px 10px 0px;
    margin-bottom: 20px;
    text-align: left;
}
.pay-form h3 {
    margin-bottom: 20px;
}


.footer {
    padding: 30px 0px;
    font-size: 16px;
}
@media (max-width: 1126px) {
    .container {
        width:100%;
    }
}

@media (min-width: 1000px) {
    .card-list {
        justify-content: space-between;
    }
}
@media (max-width: 900px) {
    .content-block, .card-list {
        justify-content: center;
    }
    .main-card {
        width: 300px;
    }
    .main-card h3 {
        line-height: normal;
    }
    .cover {
        width: 100%;
    }
    
    .content-block.second h2 {
        text-align: center;
        line-height: normal;
    }
    h3 {
        line-height: normal;
    }
    .pay-form {
        text-align: center;
        justify-content: center;
    }
    .pay-form img {
        width: 100%;
    }
    .pay-form h2 {
        font-size: 22px;
    }
    .pay-form {
        padding: 20px;
    }
    #first {
        padding: 0px 40px 10px 40px; ;
    }
}
